@font-face {
    font-family: 'UbuntuMono';
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('~@/assets/styles/fonts/ubuntumono/ubuntumono.woff2') format('woff2'), url('~@/assets/styles/fonts/ubuntumono/ubuntumono.woff') format('woff'), url('~@/assets/styles/fonts/ubuntumono/ubuntumono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono';
    src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url('~@/assets/styles/fonts/ubuntumono/ubuntumonobold.woff2') format('woff2'), url('~@/assets/styles/fonts/ubuntumono/ubuntumonobold.woff') format('woff'), url('~@/assets/styles/fonts/ubuntumono/ubuntumonobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl300.woff') format('woff'), url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl500.woff') format('woff'), url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl700.woff') format('woff'), url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl900.woff') format('woff'), url('~@/assets/styles/fonts/MuseoSansCyrl/MuseoSansCyrl900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), url('~@/assets/styles/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'), url('~@/assets/styles/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'), url('~@/assets/styles/fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff'), url('~@/assets/styles/fonts/ProximaNova/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('Open Sans'), local('OpenSans'), url('~@/assets/styles/fonts/opensans/opensans.woff2') format('woff2'), url('~@/assets/styles/fonts/opensans/opensans.woff') format('woff'), url('~@/assets/styles/fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('~@/assets/styles/fonts/opensans/opensanssemibold.woff2') format('woff2'), url('~@/assets/styles/fonts/opensans/opensanssemibold.woff') format('woff'), url('~@/assets/styles/fonts/opensans/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('~@/assets/styles/fonts/opensans/opensansbold.woff2') format('woff2'), url('~@/assets/styles/fonts/opensans/opensansbold.woff') format('woff'), url('~@/assets/styles/fonts/opensans/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('~@/assets/styles/fonts/opensans/opensansextrabold.woff2') format('woff2'), url('~@/assets/styles/fonts/opensans/opensansextrabold.woff') format('woff'), url('~@/assets/styles/fonts/opensans/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}